In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# !pip install pandas

In [ ]:
import pandas as pds
import numpy as np

In [ ]:
df=pds.read_csv("/content/drive/MyDrive/rating.csv")

In [ ]:
sorted_df=df.sort_values(by=["user_id"],ascending=True)
sorted_df["rating"]=sorted_df["rating"].astype("float")
sorted_df.head(5)

        Unnamed: 0  user_id  song_id                  title  rating
380283      380283        0     4125  Standing At My Window     2.0
380288      380288        0     8866       She's Not Worthy     3.0
380287      380287        0     8375     Am I Grooving You?     2.0
380286      380286        0     8366   Lichtensteiner Polka     3.0
380285      380285        0     5228   Milord (Paul's Edit)     3.0

In [ ]:
df=sorted_df.head(300000)

In [ ]:
# df["song_id"].unique().sort()

In [ ]:
df=df.drop(['Unnamed: 0',"song_id"],axis="columns")

In [ ]:
df.tail()

        user_id                 title  rating
382386    11450  Ricochet! (BT Remix)     4.0
382378    11450            2 Da Break     3.0
382387    11450        You Know_ Dear     4.0
705247    11451             Lass mich     4.0
705246    11451           Rubber Mask     2.0

In [ ]:
df[df["user_id"]==4]

       user_id                                              title  rating
18236        4                              CNS Lazer Attack D-60     2.0
18235        4  String Quartet No. 10 in E flat Major_ D87: Sc...     3.0
18234        4                                 Habanera (Beguine)     4.0
18233        4          I Just Want To Be With You This Christmas     2.0
18237        4                                        Tres Agujas     3.0
18238        4                                             I'm 32     3.0
18239        4        Mr. Slim Thug Intro (feat. Slim Thug & DSR)     3.0
18240        4                                   Teenage Pacifier     2.0
18241        4                                          Cza Manca     2.0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=df.copy()

In [ ]:
y=df["user_id"]

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [ ]:
X_train[X_train["rating"]==3]["rating"].count()

66158

In [ ]:
X_test[10:20]

         user_id                                              title  rating
1677955     5701                                        Tie iste p.     4.0
421504      6008                              The Rest of the Night     3.0
24514       3820                                     Uno Doje E Tre     4.0
553676      9214                                     Bone And Flesh     3.0
1254505     7418                                        Devo Andare     3.0
1509969     9142                       Não Fure Os Olhos Da Verdade     3.0
264702     10070                            Love Is A Lonely Street     4.0
517234      7893                               Song Of The New Moon     4.0
116812     11416  A Better Way Of Life (Nick Hook's Whoop It Up ...     2.0
1085931     8403                                        Shape-Eisha     4.0

In [ ]:
# def normalize(row):
#   new_row=(row-row.mean())/(row.

In [ ]:
# row.std()

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
def RMSE(y_true,y_predicted):
  return np.sqrt(mean_squared_error(y_true,y_predicted))

In [ ]:
def baseline(y_true,y_predicted):
  return 3

In [ ]:
def score(cf_model):
  id_pair=zip(X_test["user_id"],X_test["title"])
  y_predict=np.array([cf_model(user,song) for (user,song) in id_pair])
  y_true=np.array(X_test["rating"])
  return RMSE(y_true,y_predict)

In [ ]:
score(baseline)

0.927493635797273

In [ ]:
rating_matrix=X_train.pivot_table(values="rating",index="user_id",columns="title")
# rating_matrix=rating_matrix.apply(lambda row: row.fillna(row.mean()), axis=0)

In [ ]:
rating_matrix[100:110]

title,Falling In Love Again (l'ange Bleu) En Anglais,#3 Roxburgh Street,#5 For 2 Bray Harps,'Nfinu C'Agghionna,'Ntunucciu,'O 'nnammurato mio,'T'ain't It The Truth,'Til Nothing Comes Between Us (Remastered Album Version),'Til You Come Back To Me,(Another One Of My) Big Ideas,...,Ärräpää,Å Åå Mæoi,Åndelig matematikk,É Só Por Isso,Ó Gente Da Minha Terra (Live),Ó há-de Maria_ Ó há-de tão bela,Özgür Çiçek,Ønske,Über Nacht,Überau du
user_id,,,,,,,,,,,,,,,,,,,,,
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rating_matrix.shape

(11373, 9770)

In [ ]:
def cf_mean(user_id,title):
  if title in rating_matrix:
    mean_rating=rating_matrix[title].mean()
  else:
    mean_rating=3
  return mean_rating

In [ ]:
cf_mean(5	,5)

3

In [ ]:
score(cf_mean)

0.9478718250737311

In [ ]:
# def standarize(row):
#   new_row=(row-row.mean())/(row.max()-row.min())
#   return new_row

In [ ]:
rating_matrix_dummy=rating_matrix.copy()
rating_matrix_dummy=rating_matrix_dummy.fillna(0)

In [ ]:
rating_matrix_dummy.head()

title,Falling In Love Again (l'ange Bleu) En Anglais,#3 Roxburgh Street,#5 For 2 Bray Harps,'Nfinu C'Agghionna,'Ntunucciu,'O 'nnammurato mio,'T'ain't It The Truth,'Til Nothing Comes Between Us (Remastered Album Version),'Til You Come Back To Me,(Another One Of My) Big Ideas,...,Ärräpää,Å Åå Mæoi,Åndelig matematikk,É Só Por Isso,Ó Gente Da Minha Terra (Live),Ó há-de Maria_ Ó há-de tão bela,Özgür Çiçek,Ønske,Über Nacht,Überau du
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(rating_matrix_dummy)
# similarity

In [ ]:
similarity_df=pds.DataFrame(similarity,index=rating_matrix.index,columns=rating_matrix.index)

In [ ]:
similarity_df.head()

user_id,0,1,2,3,4,5,6,7,8,9,...,11442,11443,11444,11445,11446,11447,11448,11449,11450,11451
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.036576,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [ ]:
# from math import nan
# def cf_wmean(user_id,title):
#   if user_id in similarity_df and title in rating_matrix:
#     sim_score=similarity_df[user_id]
#     s_rating=rating_matrix[title]
#     idx=s_rating[s_rating.isnull()].index
#     s_rating=s_rating.dropna()
#     sim_score=sim_score.drop(idx)
#     wmean1=np.dot(sim_score,s_rating)/sim_score.sum()
#     if pds.isna(wmean1)==True:
#       wmean1=cf_mean(user_id,title)
#     else:
#       wmean1=wmean1
#   else:
#     wmean1=3
#   return wmean1

In [ ]:
# score(cf_wmean)

In [ ]:
similar_user=similarity_df[similarity_df[2]>0.2][2].sort_values(ascending=False)[:10]

In [ ]:
similar_user

user_id
2       1.000000
3381    0.275380
704     0.242675
1527    0.233858
1539    0.225613
7722    0.203037
7030    0.200334
Name: 2, dtype: float64

In [ ]:
unseen_df = rating_matrix[rating_matrix.index == 2].dropna(axis=1, how='all')
similar_user_songs = rating_matrix[rating_matrix.index.isin(similar_user.index)].dropna(axis=1, how='all')
similar_user_songs.drop(unseen_df.columns, axis=1, inplace=True, errors="ignore")

In [ ]:
similar_user_songs

title,Barbie debe morir,Beijing,Big Leather,Blow Up,Captain_ My Captain,Chance The Gardener,Dead + Rural (Album),Decervellamento,Doctone,Get Ready,...,Smile (Digital Soundboy Remix),Sous Les Grélons,Testify (Remix) (Junior's Sunday Morning Mix),The Boy Is Mine (Duet With Monica) (LP Version),Time Changes Things,Untitled,Wanna Be Here Tonight,War Inside My Head,What Matters Is Just You,Why Took Your Advice
user_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
1527,NaN,4.0,NaN,NaN,2.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1539,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,3.0,NaN,NaN,NaN,NaN,3.0,2.0,3.0,NaN,4.0
3381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7030,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7722,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN

In [ ]:
similar_user_songs.columns

Index(['Barbie debe morir', 'Beijing', 'Big Leather', 'Blow Up',
       'Captain_ My Captain', 'Chance The Gardener', 'Dead + Rural (Album)',
       'Decervellamento', 'Doctone', 'Get Ready', 'Glory Silence', 'Goodbye',
       'I Ain't Dead Yet', 'I Got Love If You Want It', 'Intro',
       'Jackson Park (Twilight Trax Mix)',
       'Jesus Loves Me (ringtone_ Sonnerie)', 'Journey Stages', 'Justify',
       'Les Fiancés D'Auvergne', 'Mein Schatten (Na_ Na_ Na_ Du Bandit_ Du)',
       'Mod Lang [Alternate Mix]', 'Nano', 'Night Train', 'Pourquoi',
       'Ready To Wear', 'Rootie Tootie', 'Secret Combination',
       'Smile (Digital Soundboy Remix)', 'Sous Les Grélons',
       'Testify (Remix) (Junior's Sunday Morning Mix)',
       'The Boy Is Mine (Duet With Monica) (LP Version)',
       'Time Changes Things', 'Untitled', 'Wanna Be Here Tonight',
       'War Inside My Head', 'What Matters Is Just You',
       'Why Took Your Advice'],
      dtype='object', name='title')

In [ ]:
song_rating=similar_user_songs["Barbie debe morir"]

In [ ]:
song_rating

user_id
2       NaN
704     NaN
1527    NaN
1539    NaN
3381    NaN
7030    NaN
7722    4.0
Name: Barbie debe morir, dtype: float64

In [ ]:
similar_user.index

Int64Index([2, 3381, 704, 1527, 1539, 7722, 7030], dtype='int64', name='user_id')

In [ ]:
for i in similar_user.index:
  print(i)

2
3381
704
1527
1539
7722
7030

In [ ]:
def recommend_song(user_id,k=10,thres_hold=0.2):
  # Similarity_score
  similar_user=similarity_df[similarity_df[user_id]>thres_hold][user_id].sort_values(ascending=False)[:k]
  avg_user_rating = rating_matrix.T.mean()[user_id]
  # Song_listend By user
  seen_df = rating_matrix[rating_matrix.index == user_id].dropna(axis=1, how='all')
  similar_user_songs = rating_matrix[rating_matrix.index.isin(similar_user.index)].dropna(axis=1, how='all')
  #Drop Song_Listened_By_user
  similar_user_songs.drop(seen_df.columns, axis=1, inplace=True, errors="ignore")
  item_score = {}
  for item in similar_user_songs.columns:
      songs_rating = similar_user_songs[item]
      total_score = 0
      count=0
      for v in similar_user.index:
          if not pds.isna(songs_rating[v]):
              score = songs_rating[v] * similar_user[v]
              total_score += score
              count +=1
      item_score[item] = total_score / count
  item_score=pds.DataFrame(item_score.items(),columns=["Song","song_score"])
  ranked_item_score=item_score.sort_values(by="song_score",ascending=False)
  return ranked_item_score.head(10)

In [ ]:
recommend_song(99)

                         Song  song_score
27           Once Upon A Time    2.597496
10  Dear Jamie...Sincerely Me    2.597496
44                     Zeroes    2.077997
26                  My Adidas    2.077997
18      Heavy Metal Poisoning    2.077997
12                 Entrapment    1.799297
4                     Blow Up    1.728198
28                   Prophecy    1.715891
39           What Goes Around    1.649318
31                    Save Me    1.649318